body{
    background-image: url(https://unsplash.com/photos/llvfQvn1kqA) !important;
}


#signupbutton {
    background-color: forestgreen;
    color: rgb(243, 209, 164);
    margin-right: 1rem;
}

#loginbutton {
    background-color: forestgreen;
    color: rgb(243, 209, 164);
    margin-right: 1rem;
   
}

#tracker {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: forestgreen;
}

#logoutbutton {
    background-color: forestgreen;
    color: rgb(243, 209, 164);
}

#updatebutton {
    background-color:darkkhaki;
    border: none;
    margin-bottom: 1rem;
    color: darkslategray;
}

#deletebutton {
    background-color: crimson ;
    color: darkslategray;
}

#BAtable th {
    background-color: rgba(0, 100, 0, 0.493);
    
}

#deth3 {
    color: forestgreen;
}

#bah3 {
    color: forestgreen;
}

#signinbutton {
    background-color: forestgreen;
    color: khaki;
}

#signupbutton {
    background-color: forestgreen;
    color: khaki;
}